<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mp-3 converter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@200;600&family=Sofia+Sans:wght@100&family=Unbounded:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>

    <div id="preloader">

    </div>
  <div id="navbar" >


        <div class="logo" >
<a href="/">
            <i class="fa-solid fa-cloud-arrow-down fa-3x"></i></a>
            <p class="p">mp-3 converter</p>
        </div>
        <div>
            <button id="dark-mode-toggle" class="dark-mode-toggle">
                <svg class="svg" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 496"><path fill="currentColor" d="M8,256C8,393,119,504,256,504S504,393,504,256,393,8,256,8,8,119,8,256ZM256,440V72a184,184,0,0,1,0,368Z" transform="translate(-8 -8)"/></svg>
              </button>
              <div class="click-here">
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 542.09 136.36"><path d="M778.6,200a41.51,41.51,0,0,0,20.63-24h-2.89a147.34,147.34,0,0,0,27.79,52.82c1.23,1.49,3.34-.64,2.12-2.12a143.69,143.69,0,0,1-27-51.49,1.51,1.51,0,0,0-2.89,0,38.47,38.47,0,0,1-19.26,22.25c-1.72.88-.2,3.47,1.51,2.59Z" transform="translate(-284.53 -174.12)"/></svg>
              </div>
        </div>
        


    </div>

   <div class="container">
    <a href="/">
        <i class="fa-brands fa-youtube fa-3x"></i>
    </a>
    <div class="h1">
    <h1> youtube mp-3 converter</h1></div>
    <div class="input">
    <form action="/mp3-converter" method="POST" id ="form">

        <input type = "text" name = "vId" placeholder ="Paste the video id" autocomplete="off" >
    </div>
    <div>
        <button>convert</button>
    </div>
    </form>


   </div>


   <div class="bottom-container">
    <% if(typeof success != "undefined" && success){ %>
        <div class="success">
            <p ><%= song_title %></p>

            <a href="<%= song_url %>">
                <button> Download</button>
            </a>
        </div>
        <% } else if(typeof success != "undefined" && !success){ %>
            <div class="err">
                <p><%= msg %></p>
            </div>
<% } %>
   </div>
   <footer id="footer">
    <div class="footicon">
      <a href="/">
  <i class="fa-solid fa-cloud-arrow-down fa-3x"></i></a>
    </div>
    <div class="copy">
    <h3>copyright © 2023 mp-3 converter</h3>
   </div>
   </footer>

   <script>
    // check for saved 'darkMode' in localStorage
    let darkMode = localStorage.getItem('darkMode');
  
    const darkModeToggle = document.querySelector('#dark-mode-toggle');
  
    const enableDarkMode = () => {
      // 1. Add the class to the body
      document.body.classList.add('darkmode');
      // 2. Update darkMode in localStorage
      localStorage.setItem('darkMode', 'enabled');
    }
  
    const disableDarkMode = () => {
      // 1. Remove the class from the body
      document.body.classList.remove('darkmode');
      // 2. Update darkMode in localStorage
      localStorage.setItem('darkMode', null);
    }
  
    // If the user already visited and enabled darkMode
    // start things off with it on
    if (darkMode === 'enabled') {
      enableDarkMode();
    }
  
    // When someone clicks the button
    darkModeToggle.addEventListener('click', () => {
      // get their darkMode setting
      darkMode = localStorage.getItem('darkMode');
  
      // if it not current enabled, enable it
      if (darkMode !== 'enabled') {
        enableDarkMode();
      // if it has been enabled, turn it off
      } else {
        disableDarkMode();
      }
    });
  
  </script>

    <script>
        var loader = document.getElementById("preloader")

        window.addEventListener("load",()=>{
            loader.style.display="none";
        })
    </script>
</body>
</html>
